body {
  background-color: #034258;
}

h1 {
  color: white;
  text-align: center;
  font-family: verdana;
  line-height: 80%;
}

p {
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 15px;
  line-height: 95%;
}

u {
  color: white
}

a:link {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: powderblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.bottom {
  font-size: 10px;
  position: fixed;
  bottom: 0;
}

.navright {
  position: absolute;
  right: 20%;
}

.navleft {
  position: absolute;
  left: 20%;
}